POSTGRES_DB=atendimento
POSTGRES_USER=atendimento
POSTGRES_PASSWORD=trocar
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# dev (local) | prod (sem Scalar/OpenAPI)
SPRING_PROFILES_ACTIVE=dev

# Runtime da aplicação
APP_DB_USER=atendimento_app
APP_DB_PASSWORD=atendimento

FLYWAY_USER=atendimento
FLYWAY_PASSWORD=trocar

REDIS_PORT=6379